<html>
<head>
</head>
<body>
    <!-- ============================================================= ADD PRODUCT PAGE ============================================================= -->
    <h1>Add Product Manually</h1>
    <div>
        <a href="http://localhost:3000/admin"><button>Admin Page</button></a>
    </div>
    <div>
        <a href="http://localhost:3000/products"><button>View All Products</button></a>
    </div>
    <div>
        <form method="POST" action="/signout"><button>Signout</button></form>
    </div>
    <p></p>
        <form method='POST' action='/add-product'>
            <input type='url' placeHolder="Enter book image URL" name="bookImage">
            <input type="text" placeHolder="Enter book title" name="bookTitle" />
            <input type="text" placeHolder="Enter book author(s)" name="bookAuthor" />
            <input type="text" placeHolder="Enter book category" name="bookCategory" />    
            <input type="text" placeHolder="Enter book description" name="bookDescription" />
            <input type="integer" placeHolder="Enter book ISBN_10" name="bookISBN_10" />
            <input type="double" placeHolder="Enter book price" name="bookPrice" />
            <button>Sumbit to Products Page</button>
        </form>
    {{#title}}
        {{title}} product has been added.
    {{/title}}
    <p></p>
    <!-- ============================================================= ADD PRODUCT PAGE : END ============================================================= -->
</body>
</html>