<!DOCTYPE html>
<html lang="en">
  <head>
    {{! <link rel="stylesheet" href="/style.css" /> }}
    <title>Search Google Books</title>
  </head>
  <body>
    <div>
    <a href="http://localhost:3000/products"><button>View All Products</button></a>
    </div>
    <div>
    <a href="http://localhost:3000/add-product"><button>Add Product Manually</button></a>
    </div>
    <div>
    <form method="POST" action="/signout"><button>Signout</button></form>
    </div>
    <main>
      <div class="search-bar-container">
        <input
          id="input"
          type="text"
          class="search-input"
          placeholder="Enter a book title or author name"
        />
        <button type="button" class="search-button">SEARCH</button>
      </div>
      <p></p>
      {{#title}}
        {{title}} has been added to the Products Table.
      {{/title}}
      <p></p>
      <div class="cards-container"></div>
    </main>
    <p></p>

    <script src="/script.js"></script>
  </body>
</html>

<!DOCTYPE html>