<!DOCTYPE html>
<html lang="en">
  <head>
    
    {{! <link rel="stylesheet" href="/style.css" /> }}
    
    <title>Book•Smart - Homepage</title>
  </head>
  <body>
      <div class="search-bar-container">
        <input
          id="input"
          type="text"
          class="search-input"
          placeholder="Enter a book title or author name."
        />
        <button type="button" class="search-button">SEARCH</button>
      </div>
      <div class="cards-container"></div>
    </main>
    <p></p>

    <script src="/script.js"></script>
  </body>
</html>