<html>
<head></head>
<body>
    <h1>Order Summary</h1>
    <div>
    <a href="http://localhost:3000/products"><button>All Products</button></a>
    </div>
    <div>
    <form method="POST" action="/signout"><button>Signout</button></form>
    </div>
    <p></p>
    <ul>
         {{#userOrders}} <!-- Start of the loop --> 
        <br/>
        <li>
            <img src={{product.image}} />
            <p><b>Title: </b>{{product.title}}</p>
            <p><b>Author(s): </b>{{product.author}}</p>
            <p><b>Category: </b>{{product.category}}</p>
            <p><b>Description: </b>{{product.description}}</p>
            <p><b>ISBN_10: </b>{{product.isbn_10}}</p>
            <p><b>Price: </b>${{product.price}}</p>
            <form method="POST" action="/ordersummary/remove"> 
            <input type="hidden" value="{{order_id}}"  name="order_id"/> 
            <button>Remove from Cart</button> 
            </form>
    
         {{/userOrders}} <!-- End of the loop -->
    </ul>
<div>
Balance: ${{balance}}
<form method="POST" action="/checkout">

<button>Checkout</button>
</form>
</div>
</body>
</html>