<html>
<head></head>
<body>
    <h1>Order Summary</h1>
    <div>
    <a href="http://localhost:3000/products"><button>All Products</button></a>
    </div>
    <ul>
         {{#userOrders}} <!-- Start of the loop --> 
        <br/>
        <li>
            <img src={{image}} />
            <p><b>Title: </b>{{title}}</p>
            <p><b>Author(s): </b>{{author}}</p>
            <p><b>Category: </b>{{category}}</p>
            <p><b>Description: </b>{{description}}</p>
            <p><b>ISBN_10: </b>{{ISBN_10}}</p>
            <p><b>Price: </b>${{price}}</p>
            <form method="POST" action="/remove"> 
            <input type="hidden" value="{{id}}"  name="order_id"/> 
            <button>Remove from Cart</button> 
            </form>
    
         {{/userOrders}} <!-- End of the loop -->
    </ul>
<div>
Balance: ${{balance}}
<form method="POST" action="/checkout">

<button>Checkout</button>
</form>
</div>
<div>
<form method="POST" action="/signout"><button>Signout</button></form>
</div>

</body>
</html>