<html>
<head></head>
<body>
<h1>All Products</h1>
    <div>
    <a href="http://localhost:3000/filter"><button>Filter Products by Category</button></a>
    </div>
    <div>
    <a href="http://localhost:3000/ordersummary"><button>Order Summary</button></a>
    </div>
    <div>
    <a href="http://localhost:3000/admin"><button>Admin Page</button></a>
    </div>
    <div>
    <form method="POST" action="/signout"><button>Signout</button></form>
    </div>
    {{#titleAdded}}
        {{title}} has been added to your shopping cart.
    {{/titleAdded}}
    <ul>
    {{#allProducts}} 
        <li>
        <img src={{image}} />
        <p><b>Title: </b>{{title}}</p>
        <p><b>Author(s): </b>{{author}}</p>
        <p><b>Category: </b>{{category}}</p>
        <p><b>Description: </b>{{description}}</p>
        <p><b>ISBN_10: </b>{{isbn_10}}</p>
        <p><b>Price: </b>${{price}}</p>
        <form method="POST" action="/products">
        <input type="hidden" value="{{title}}"  name="product_title"/> 
        <input type="hidden" value="{{id}}"  name="product_id"/>
        <button>Add to Cart</button> 
        </form>
        </li>

    {{/allProducts}}
    </ul>
</body>
</html>