<html>
<head>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <h1>Register</h1>
    
    <form method="POST" action="/register">
        <input type="text" placeHolder="Enter Username" name="username" required/>
        <input type="password" placeHolder="Enter Password" name="password" required/>
        <button>Save</button>
    </form>
    <a href="http://localhost:3000/login"><button>Login</button></a>
    
    <b>{{message}}</b>
    
</body>
</html>